.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-direction: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.home-main-section .lady-image {
  background-image: url(images/landing-page-girl.png);
  flex-grow: 1;
  min-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}
