.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-direction: 1;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.home-main-section .lady-image {
  background-image: url(images/landing-page-girl.png);
  flex-grow: 1;
  min-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }
  .home-main-section {
    justify-content: center;
  }
}

.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vh;
  border-radius: 50%;
  background-color: rgba(188, 58, 128, 0.1);
  left: 5vw;
  bottom: 5vw;
  z-index: -1;
}
.home-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vh;
  border-radius: 50%;
  background-color: rgba(23, 98, 167, 0.1);
  top: 5vw;
  left: 50vw;
  z-index: -1;
}
.home-page-circle-3 {
  position: absolute;
  width: 45vw;
  height: 45vh;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
.home-page-circle-3::before {
  content: "";
  transform: translate(40px, 40px);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(23, 98, 167, 0.1);
}
